/* *{
  border:1px solid black;
} */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
  margin-top: 200px;
  margin-bottom:10px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding:10px;
  margin-bottom:200px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom:10px;
}

ul{
  padding:8px;
  /* flex-wrap: wrap; */
  /* margin-left:0 px; */
  justify-content: space-around;
  gap:16px;
  display: flex;
  /* this removes the dots on the list items*/
  list-style-type: none;
}

.nav1{
  display:flex;
  justify-content:space-between;
  /* margin-bottom:200px; */
}

.footer{
  position:fixed;
  background-color: #eeeeee;
  padding:4px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 52px;
}

a {
  color: #555555;
  text-decoration: none;
}

.content{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
}

.input{
  margin-bottom:10px;
}

.header{
  padding:4px;
}